

<%- include ("superheader.ejs") %>
<%- include ("supersidebar.ejs") %>

<style>
   .card{
      border-top: 4px solid #39444e;
    border-bottom: 4px solid #39444e;
}
.ck.ck-content {
    height: 150px;
}
</style>

      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
             <div class="row ">
                <div class="col-lg-12">
                    <div class="bread-boxes">
                        <ol class="breadcrumb">
                            <li><a href="/superadmin"> Home </a></li>
                               <li class="active"><a href="#"> / User Cancellation Policy</a></li>
                            <!-- <li class="active"> / Add Video </li>         -->
                          </ol>
                    </div>
                </div>
                 <!--  <div class="col-lg-6">
               <div class="headings headings-boxess mt-4">
                  <div class="main-headers mt-0" style="margin-top: 0px !important;">
                    <h4> <i class="fa fa-arrow-circle-o-left yellow_color"></i>  User Withdrawl Report </h4>
                     </div>
                </div>
             </div> -->       
            </div>

            <!-- 1-3-block row start -->
            <div class="row pt-3">
               <div class="col-lg-12">
                <div class="card mb-4" style="border-top:4px solid black;">
                <div class="cards-headers py-3 px-3 d-flex flex-row align-items-center justify-content-between">
                     <div class="heads-lefts">
                 <a href="#">  <h6 class=" font-weight-bold "><i class="fa fa-arrow-circle-o-left yellow_color"></i> Add User Cancellation Policy </h6> </a>
                 </div>
                    <div class="heads-rights">
                    <!-- <a class="btn btn-success waves-effect waves-light " href="Owner_view_Owner.html"><i class="fa fa-user  mr-1"></i> View Owner   </a> -->
                  </div>
                  </div>

                  <form id="kilfrom" method="POST" action="/superadmin/users_cancellation_policy" >
                  <div class="user-form">
                  <div class="form-group row users-foarms">
                      <div class="form-group col-md-12">
                        <i class="fa fa-question icon-set"></i>
                           <label for="exampleInputEmail" class="form-control-label">Add User Cancellation Policy</label>
                           
                            <textarea id="myeditor" name="privacy_policy" placeholder="Cancellation Policy" ></textarea>   
                        </div>
                        <div class="form-group col-md-12">
                           <input type="hidden" name="policy_type" value="User">
                           <input type="hidden" id="kilvish" name="privacy_id" value="0">
                        <button   type="submit" class="btn btn-success waves-effect waves-light m-r-30">Submit</button>
                        </div>
                  </div>
                   </div>

                  </form>

                      <!-- alert msgs -->
                      <% if ( output.includes('successfully') ) { %>
                        <p class="success-text"><%= output %></p>
                  <% } else { %>
                        <p class="error-text"><%= output %></p>
                  <% } %>
            <!-- /alert msgs -->  




                 </div>
               </div>
            </div>
            <!-- 1-3-block row end -->


            <!-- 1-3-block row start -->
            <div class="row">
               <div class="col-lg-12">
                <div class="card mb-4" style="border-top:4px solid black;">
               <div class="cards-headers py-3 px-3 d-flex flex-row align-items-center justify-content-between">
                     <div class="heads-lefts">
                  <h6 class=" font-weight-bold "><i class="fa fa-arrow-circle-o-left"></i> View User Cancellation Policy </h6>
                 </div>
                    <div class="heads-rights">
                    <!-- <a class="btn btn-success waves-effect waves-light " href="user_addUser.html"><i class="fa fa-user  mr-1"></i> Add User  </a> -->
                  </div>
                  </div>
                  <div class="user-form">
                     <div class="table-reponsive box">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                          <div class="row">
                          <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                        <thead>
                             <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 10.0101px;">S.no</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 250.0781px;">User Cancellation Policy</th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 10.112px;">Action</th>
                            </tr>
                        </thead>
                           <div class="table-responsive">
                              </div>
                           



                              <tbody>
                                 <% pandps.forEach(function(privacy,index) { %>
                                   <tr class="even">
                                       <td><%- index+1 %></td>
                                       <td><%- privacy.policy %></td>
                                       <td><div class="dropdown">
                                         <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action</button>
                                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                           <a class="dropdown-item" style="color:black" onclick="updateprivacy('<%= privacy.id %>', '<%= escapeJS(privacy.policy) %>')">

                                             <i class="fa fa-edit"></i> Edit
                                         </a>

                                         <% function escapeJS(str) { 
                                          return str.replace(/\\/g, '\\\\')  // Escapes backslashes
                                                    .replace(/'/g, "\\'")    // Escapes single quotes
                                                    .replace(/"/g, '\\"')    // Escapes double quotes
                                                    .replace(/\n/g, '\\n')   // Escapes newlines
                                                    .replace(/\r/g, '\\r');  // Escapes carriage returns
                                        } %>
                                         
                                           <hr>
                                           <a class="dropdown-item" style="color:black" onclick="deleteCancellationPolicy('<%= privacy.id %>')"><i class="fa fa-trash"></i> Delete</a>

                                           
                                          
                                         </div>
                                       </div>
                                     </td>
                                   </tr>
                                   <% }) %> 
                                   
                               </tbody>

                            </table>
                        </div>
                      </div>
                  </div>
                   </div>
                 </div> 
               </div>
            </div>
            <!-- 1-3-block row end -->

         </div>
         <!-- Main content ends -->
         <!-- Container-fluid ends -->
      </div>
   </div>

   
   <%- include ("superfooter.ejs") %>


   <script>

document.addEventListener("DOMContentLoaded", function() {
            document.cookie = 'rental_msg'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
            document.cookie = 'rental_msg'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            document.cookie = 'rental_id'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
       
    });






    function deleteCancellationPolicy(privacyId) {

      var p_name = 'User Cancellation Policy'

// Use SweetAlert2 for a stylish confirmation
Swal.fire({
          title: 'Are you sure?',
          html: `<span style="color: red;">This : <span style="font-weight: bold; color: red; background-color: yellow;">${p_name}</span> Will be Permanently for all Users.</span>`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete Policy'
      }).then((result) => {
          if (result.isConfirmed) {
              // Make an AJAX request to delete the user
                                  $.ajax({
                          url: '/superadmin/deleteCancellationPolicy',
                          type: 'POST',
                          data: { privacy_id: privacyId },
                          success: function(response) {
                            if (response.success == true) {
                              document.cookie = `rental_msg=${response.msg}`;
                              window.location.href = '/superadmin/users_cancellation_policy'
                            }else{
                             // alert(response.msg)
                               document.cookie = `rental_msg=${response.msg}`;
                            window.location.href = '/superadmin/users_cancellation_policy'
                            }
                          },
                          error: function(error) {
                              console.error('Error:', error);
                          }
                      });
          }
      });



}



        
 

  
  </script>
  <script>
    function updateprivacy(id, content) { 
  
  
      content = content.replace(/"/g, '');
  
      if (editorInstance) {
          editorInstance.setData(content);  // Use CKEditor 5 API
      } else {
          console.error('Editor instance not available');
      }
  
      document.getElementById("kilvish").value = id;
  }





  </script>